.form-label {
  font-weight: 400 !important;
}

.form-text {
  margin-top: -8px !important;
}

.invalid {
  color: #B30C00;
  font-weight: 400;
}

.registration-card {
  padding: 1.25rem 1.25rem 0rem !important;
  box-shadow: 1px 1px 15px 1px rgba(93,253,203,0.5);
}