.no-favorites {
  padding-left: 15px;
}

.email {
  font-weight: 400 !important;
  font-size: 16px !important;
}

@media (min-width: 1200px) {
  .delete-user-button {
    padding-left: 70px !important;
    margin-top: -90px;
    margin-left: 85%;
    position: absolute;
  }
}


