.drama-search {
  border-top-style: none !important;
  border-right-style: none !important;
  border-left-style: none !important;
  border-radius: 0 !important;
}
.drama-search:focus {
  border-top-style: none !important;
  border-right-style: none !important;
  border-left-style: none !important;
  border-color: #5dfdcb !important;
  box-shadow: 0 4px 3px 0 rgb(93,253,203,0.25) !important;
}
